h1 {
  width: 100%;
  position: relative;
  width: fit-content;
  white-space: nowrap;

  &::before {
    content: '';
    width: 6.25rem;
    height: 3px;
    border-bottom: 3px dotted var(--primaryAccent);
    right: 0;
    bottom: 5px;
    z-index: -1;
    position: absolute;
  }
}

p:first-of-type {
  margin-top: 0;
}

p {
  margin-block: 0.5rem;
}

svg {
  width: 2rem;
}

@media (min-width: 483px) {
  p {
    margin-block: 1rem;
  }
}