.markdown {
  ul {
    list-style: none;
    display: inline;
    padding: 0;
  }

  li {
    border-left: 3px dotted var(--primaryAccent);
    padding-left: 0.65rem;
    margin-bottom: 2rem;

    p {
      margin-block: 0.3rem;
    }

    p:has(a) {
      a {
        font-weight: bold;
      }
    }
  }
}
