---
import { Content } from "../content/about.md";
import Layout from "../layouts/Layout.astro";
import headshot from "../assets/headshot.jpg";
import "../styles/index.scss";
---

<Layout>
  <div class="container">
    <div class="headshot">
      <div class="frame-piece top"></div>
      <img src={headshot.src} alt="Teddy Zamborsky headshot" />
      <div class="frame-piece bottom"></div>
    </div>
    <Content />
  </div>
</Layout>

<style lang="scss">
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .headshot {
    float: none;
    height: fit-content;
    position: relative;
    display: flex;
    margin-top: 1rem;

    width: clamp(200px, 30vw, 350px);
    container-type: inline-size;
  }
  img {
    object-fit: contain;
    width: 100%;
    border-radius: 10% 0 10% 0px;
    padding: 5cqw;
  }

  .frame-piece {
    width: 20%;
    height: 20%;
    position: absolute;
    --dot-frame-piece: clamp(5px, 3cqw, 10px) double var(--tertiaryAccent);
    --inner-frame-piece: clamp(3px, 2cqw, 8px) solid var(--primaryAccent);

    &:after {
      content: "";
      background: var(--primaryAccent);
      position: absolute;
      width: 14.125cqw;
      height: 14.125cqw;
      background: transparent;
    }

    &.top {
      top: 0;
      right: 0;
      border-top: var(--dot-frame-piece);
      border-right: var(--dot-frame-piece);

      &:after {
        top: 1cqw;
        right: 1cqw;
        border-top: var(--inner-frame-piece);
        border-right: var(--inner-frame-piece);
      }
    }

    &.bottom {
      bottom: 0;
      left: 0;
      border-bottom: var(--dot-frame-piece);
      border-left: var(--dot-frame-piece);

      &:after {
        left: 1cqw;
        bottom: 1cqw;
        border-bottom: var(--inner-frame-piece);
        border-left: var(--inner-frame-piece);
      }
    }
  }

  @media (min-width: 483px) {
    .container {
      display: block;
    }
    .headshot {
      float: right;
      margin: 3.5rem -9px 10px 10px;
    }
  }
</style>
